name: Keycloak
services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.2
    command:
      - start
      - --hostname=${KEYCLOAK_HOST:-http://localhost:8080}
      - --hostname-backchannel-dynamic
      - "true"
      - --http-enabled=true
      - --proxy-headers
      - xforwarded
      - --import-realm
      - --hostname-debug=true
    environment:
      KC_LOG_LEVEL_ORG_KEYCLOAK: debug
      KC_BOOTSTRAP_ADMIN_USERNAME: "${KEYCLOAK_ADMIN_USER:-admin}"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "${KEYCLOAK_ADMIN_PASSWORD:-admin}"
      KC_HOSTNAME: "${KEYCLOAK_HOSTNAME:-localhost}"
      KC_DB: postgres
      KC_DB_URL: "jdbc:postgresql://${KEYCLOAK_DATABASE_HOST:-keycloak-db}:5432/${KEYCLOAK_DATABASE_NAME:-keycloak}"
      KC_DB_USERNAME: "${KEYCLOAK_DATABASE_USERNAME:-keycloak}"
      KC_DB_PASSWORD: "${KEYCLOAK_DATABASE_PASSWORD:-keycloak}"
    ports:
      - "8080:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
        required: true
    healthcheck:
      test: [ "CMD-SHELL", "/bin/bash", "-c", "exec 3<>/dev/tcp/localhost/8080 ; echo -e \"GET /health/ready HTTP/1.1\nhost: localhost:8080\nconnection: close\n\n\" >&3 ; test \"$(cat <&3 | grep -m 1 'HTTP/1.1 ')\" = \"HTTP/1.1 200 OK\" ; RES=$? ; exec 3<&- ; exec 3>&- ; exit $$RES" ]
      start_period: 120s
      interval: 30s
      timeout: 15s
      retries: 5
  keycloak-db:
    image: postgres:16
    environment:
      PGDATA: /var/lib/postgresql/data/keycloak-db
      POSTGRES_USER: ${KEYCLOAK_DATABASE_USERNAME:-keycloak}
      POSTGRES_PASSWORD: ${KEYCLOAK_DATABASE_PASSWORD:-keycloak}
      POSTGRES_DB: ${KEYCLOAK_DATABASE_NAME:-keycloak}
    volumes:
      - ${KEYCLOAK_DATABASE_HOST_PATH:-./postgres-data}:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "/bin/sh", "-c", "/usr/bin/pg_isready -U \"$${POSTGRES_USER}\" -d \"$${POSTGRES_DB}\"" ]
      interval: 5s
      start_period: 5s
      timeout: 15s
      retries: 5